The py and ipynb files both are using Python version 3.9.12

Libraries needed for the Python program to run.

!pip install matplotlib
!pip install pandas
!pip install notebook

The py and ipynb files both are using Python version 3.9.12


Jupiter Notebook to view .ipynb files.
Go to https://jupyter.org/install:
Jupyter Notebook
Install the classic Jupyter Notebook with:

pip install notebook
To run the notebook:

jupyter notebook

The Anaconda application should also be install. Anaconda includes the Jupitor Notebook
application along with pandas, matplotlib, numpy, and seaborn libraries needed to run this project.
Download Anaconda from: https://www.anaconda.com/